{% extends "posts/base.html" %}
{% load static %}


{% block style %}

{% endblock style %}



{% block title %}
{{ title }}
{% endblock title %}



{% block body %}
<div class="container">
    <div class="row">
        <p class="text-white fs-3 text-center mb-4">Комментарии к посту <span class="text-warning">{{ article|upper }}</span></p>
        <div class="w-75 mx-auto border border-2 border-white bg-secondary bg-opacity-50 p-4 rounded-4">
            
            {% for comment in  comments %}
                {{ comment }}

            {% empty %}
            <div class="alert alert-warning" role="alert">
                Нет комментариев
            </div>
            {% endfor %}
                

        </div>
    </div>

</div>



{% endblock body %}