{% extends "posts/base.html" %}
{% load static %}


{% block style %}
<link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
{% endblock style %}



{% block title %}
{{ title }}
{% endblock title %}



{% block body %}
<div class="container">
    <div class="row">

        <div class="w-100 mx-auto border border-2 border-white bg-secondary bg-opacity-50  rounded-4">
            <p class="text-white fs-3 text-center mb-4">
                Статья
                <span class="text-warning">{{ article|upper }}</span>
            </p>
            <hr class="text-white">

            <form action="{% url 'posts:add_review' article.pk %}" id="form" method="post" class="w-50 mx-auto">
                {% csrf_token %}

                <input type="hidden" name="parent" id="parentID" value="">

                {{ form.text }}

                <div class="mt-3 btn-group">
                    <input class="border border-2 border-white btn btn-success" type="submit" value="Отправить">
                    {% include 'components/UI/BackButton.html' %}
                </div>
            </form>


  



            <section class="">
                <div class="container my-b py-5">
                    <div class="row d-flex justify-content-center">
                        <div class="col-md-12 col-lg-10 col-xl-8">
                            <div class="card bg-black bg-opacity-25 text-white">
                                <div class="card-body p-4">
                                    <h4 class="text-center mb-4 pb-5">
                                        Комментарии ({{ article.comments.count|default:'0' }})</h4>

                                    <div class="row">
                                        <div class="col">

                                            {% for comment in comments %}
                                            <div class="d-flex flex-start mb-5 border-bottom pb-3">
                                                <img class="rounded-circle shadow-1-strong me-3"
                                                    src="{{ comment.user.avatar.url|default:'static/assets/img/avatar.png' }}"
                                                    alt="avatar" width="65" height="65" />
                                                <div class="flex-grow-1 flex-shrink-1">
                                                    <div>
                                                        <div class="d-flex justify-content-between align-items-center">
                                                            <p class="mb-1">
                                                                {{comment.user}} <span
                                                                    class="small">-{{comment.get_hours_ago}}</span>
                                                            </p>
                                                            <a onclick="addComment('{{ comment.user.email }}', '{{ comment.id }}')"
                                                            href="#form"><i class="fas fa-reply fa-xs"></i><span
                                                                    class="small"> Ответить</span></a>
                                                        </div>
                                                        <p class="small mb-0">
                                                            {{comment.text}}.
                                                        </p>
                                                    </div>


                                                    {% for com in comment.comment_set.all %}

                                                    <div class="d-flex flex-start mt-5">
                                                        <a class="me-3" href="#">
                                                            <img class="rounded-circle shadow-1-strong"
                                                                src="{{ com.user.avatar.url|default:'static/assets/img/avatar.png' }}"
                                                                alt="avatar" width="65" height="65" />
                                                        </a>
                                                        <div class="flex-grow-1 flex-shrink-1">
                                                            <div>
                                                                <div
                                                                    class="d-flex justify-content-between align-items-center">
                                                                    <p class="mb-1">
                                                                        {{com.user.email}} <span class="small">- 3 hours
                                                                            ago</span>
                                                                    </p>
                                                                </div>
                                                                <p class="small mb-0">
                                                                    {{com.text}}.
                                                                </p>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    {% empty %}
                                                    
                                                    {% endfor %}





                                                </div>
                                            </div>

                                            {% empty %}
                                            <div class="alert alert-warning w-50 mx-auto" role="alert">
                                                Нет комментариев
                                            </div>
                                            {% endfor %}



                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    </section>
</div>


</div>


<script>
    const textarea = document.querySelector('textarea');
    const parent = document.querySelector('#parentID');

    function addComment(email, id) {
        textarea.innerText = `${email}, `
        parent.value = id
    }

</script>


{% endblock body %}