{% extends 'fitness_app/base.html' %}
{% load static %}


{% block title %}
{{ title }}
{% endblock title %}


{% block style %}
<link rel="stylesheet" href="{% static 'assets/accounts.css' %}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

{% endblock style %}


{% block body %}


<div class="container text-center">
    <div class="row">

        <div class="card w-75 mx-auto py-4 border border-3 border-warning fst-italic">
            <p class="mb-5 text-dark fs-3">Мой профиль</p>
            <div class="d-flex justify-content-around align-items-center pb-5">
                <div>
                    <img class="rounded-3" src="{{ request.user.avatar.url }}" width="300px" height="300px" alt="">
                </div>
                <div class="text-start">
                    <h4>Статус:
                        {% if user.club_member %}
                        Член клуба
                        {% else %}
                        Клиент
                        {% endif %}
                    </h4>
                    <hr>
                    <h4>Имя:
                        {% if request.user.first_name %}
                        {{ request.user.first_name }}
                        {% else %}
                        <a href='' class='text-danger'> Указать</a>
                        {% endif %}
                    </h4>
                    <h4>Фамилия:

                        {% if request.user.last_name %}
                        {{ request.user.last_name }}
                        {% else %}
                        <a href='' class='text-danger'> Указать</a>
                        {% endif %}
                    </h4>
                    <h4>Возраст:
                        {% if request.user.age %}
                        {{ request.user.age }}
                        {% else %}
                        <a href='' class='text-danger'> Указать</a>
                        {% endif %}
                    </h4>
                    <h4>Телефон:
                        {% if request.user.phone %}
                        {{ request.user.phone }}
                        {% else %}
                        <a href='' class='text-danger'> Указать</a>
                        {% endif %}
                    </h4>
                    <h4>Почта: {{ request.user.email }}</h4>
                </div>
            </div>
            <div class="btn-group w-50 mx-auto">
                <a href="{% url 'profile_edit' request.user.pk %}" 
                class="btn btn-primary py-2 "> 
                Редактировать
            </a>
            
                <a href="{{ request.META.HTTP_REFERER}}" 
                class="btn btn-danger ms-2 py-2 "> 
                Назад
            </a>
            </div>


        </div>

    </div>


</div>
{% endblock body %}