{% extends 'accounts/base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block title %}
{{ title }}
{% endblock title %}


{% block head %}

<h1>Регистрация</h1>


<div class="container mt-2">

  <div class="row">

    <div class="col-md-3"> </div>

    <div class="col-md-6">

      <form action="" method="post">{% csrf_token %}

        <div class="d-grid gap-2">
          {{ form|crispy }}
          <button class="btn btn-light" type="submit">Создать аккаунт</button>

        </div>
      </form>



      <!-- <form action="" method="post">{% csrf_token %} -->


        <!-- <div class="form-group">
          <label for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
          {{ form.email}}
        </div><br>

        <div class="form-group">
          <label for="{{ form.password.id_for_label }}">{{ form.password.label }}</label>
          {{ form.password}}
        </div>

        <div class="form-group">
          <label for="{{ form.password2.id_for_label }}">{{ form.password2.label }}</label>
          {{ form.password2}}
        </div> -->

        <!-- <div class="form-group">
          <span>{{ form.email }}</span>
        </div> -->


        <!-- 
        <div class="form-group">
          <span>{{ form.password }}</span>
        </div>

        <div class="form-group">
          <span>{{ form.password2 }}</span>
        </div> -->
        <br>


        <!-- <div class="d-grid gap-2">
          <button class="btn btn-light" type="submit">Создать аккаунт</button>

        </div> -->

      <!-- </form> -->
      <br><a href="{% url 'login' %}">Уже есть аккаунт? Войти</a>


    </div>

    <div class="col-md-3"></div>

  </div>



</div>




{% endblock head %}