{% extends 'fitness_app/base.html' %}
{% load static %}


{% block title %}
{{ title }}
{% endblock title %}



{% block style %}
<link href="{% static 'assets/css/main.css' %}" rel="stylesheet">
{% endblock style %}



{% block body %}
<div class="container">
    <div class="row">
        <div class="w-100 mx-auto border border-2 border-white bg-secondary bg-opacity-75 p-4 rounded-4">
            <div>
                <p class="text-center mb-4 fs-2 text-warning text-uppercase">Расписание тренировок</p>
                <a style="right: 20px; top: 90px;"
                    class="btn btn-danger border py-2 px-3 border-2 border-white position-absolute  p-2"
                    href="{{request.META.HTTP_REFERER}}">
                    Назад
                </a>
            </div>

            <table class="table table-striped p-0 m-0 ">
                <thead>
                    <tr>
                        <th scope="col">Тренер</th>
                        <th scope="col">Начало тренировки</th>
                        <th scope="col">Конец тренировки</th>
                        <th scope="col">Статус</th>
                    </tr>
                </thead>
                <tbody>

                    {% for train in trainings %}

                    <tr>
                        <td>
                            <a class="text-primary" href="{% url 'trainer_detail' train.trainer.pk %}">
                                {{ train.trainer }}
                            </a>
                        </td>
                        <td>{{ train.start }}</td>
                        <td>{{ train.end }}</td>
                        <td>
                            {% if not train.status %}
                            Запланирована
                            {% else %}
                            Оплачена
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

    </div>
</div>



{% endblock body %}