{% extends 'fitness_app/base.html' %}



{% block title %}
{{ title }}
{% endblock title %}




{% block body %}
<div class="container">
    <div class="row">
        <div class="w-100 mx-auto border border-2 border-white bg-secondary bg-opacity-75 p-4 rounded-4">

            <p class="fs-2 text-warning">Мои Тренировки</p>


            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Тренер</th>
                        <th scope="col">Цена/руб</th>
                        <th scope="col">Начало</th>
                        <th scope="col">Конец</th>
                        <th scope="col">Статус</th>
                        <th scope="col">Оплачен</th>
                        <th scope="col">Действие</th>
                    </tr>
                </thead>
                <tbody>
                    {% for train in trainings %}
                    <tr>
                        <th scope="row">{{ train.id }}</th>
                        <td><span>{{ train.trainer }}</span></td>
                        <td>{{ train.rate.price }}</td>
                        <td>{{ train.start }}</td>
                        <td>{{ train.end }}</td>
                        <td>
                            {% if train.active %}
                            Активный
                            {% else %}
                            Закрытый
                            {% endif %}
                        </td>
                        <td>
                            {% if train.status %}
                            <i class="fa-solid fa-check fa-lg" style="color: #15da07;"></i>
                            {% else %}
                            <i class="fa-solid fa-xmark fa-lg" style="color: #b80505;"></i>
                            {% endif %}
                        </td>
                        <td>
                            {% if not train.status %}
                            <a style="cursor: pointer;text-decoration: none; color: #1d1bac" href="">Оплатить</a>
                            {% else %}
                            -------
                            {% endif %}
                        </td>
                    </tr>
                    {% empty %}
                    <div class="alert alert-warning" role="alert">
                        У вас нет запланированных тренировок!
                    </div>

                    {% endfor %}
                </tbody>
            </table>
            <div class="text-end">
                {% include 'components/UI/BackButton.html' %}
            </div>
        </div>
    </div>
</div>

{% endblock body %}