<!DOCTYPE html>
{% load static %}
<html>

<head>
  <title>Спасибо за ваш заказ!</title>
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
</head>

<body class="bg-black bg-opacity-75">
  <section>
    <div class="container">
      <div class="row">
        <div class=" border border-3 border-warning card w-25 mx-auto 
        rounded-3 position-absolute top-50 start-50 translate-middle 
        bg-black bg-opacity-50">

          <p class="fs-3 text-white text-center">
            Мы ценим ваше дело! Если у вас есть какие-либо вопросы, пожалуйста, напишите 
            по электронной почте
            <a class="text-warning" style="text-decoration: none;" 
            href="mailto:orders@example.com">djf@mail.com</a>
          </p>
        </div>


      </div>
    </div>

  </section>
</body>

</html>