{% extends 'fitness_app/base.html' %}
{% load static %}


{% block title %}
{{ title }}
{% endblock title %}



{% block style %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<link rel="stylesheet" href="{% static 'assets/css/main.css' %}">
{% endblock style %}



{% block body %}
<div class="container">
    <div class="row">


        <div class="card mb-3 p-3">
            <div class="row g-0">
                <div class="col-md-6">
                    <img src="{{ trainer.avatar.url }}" class="img-fluid rounded-start w-100 ">
                    <form action="" method="post" name="rating">
                        <b>Рейтинг:</b>
                        {% csrf_token %}
                        <input type="hidden" value="{{ movie.id }}" name="movie">
                        <span class="rating">
                            {% for k, v in star_form.fields.star.choices %}
                            <input id="rating{{ v }}" type="radio" name="star" value="{{ k }}">
                            <label class="" for="rating{{ v }}">{{ k }}</label>
                            {% endfor %}
                        </span><br>
                        <span class="editContent">4.0</span>
                    </form>
                </div>
                <div class="col-md-6">
                    <div class="card-body w-100 h-100 ">
                        <ul class="list-unstyled">
                            <li>
                                <h5 class="card-title"><i class="fa-solid fa-user"></i> {{ trainer.first_name }} {{ trainer.last_name }}</h5>
                            </li>
                            <li>{{ trainer.get_position_display }}</li>
                            <li><i class="fa-sharp fa-solid fa-phone"></i> {{ trainer.phone }}</li>
                            <li><i class="fa-solid fa-envelope"></i> {{ trainer.email }}</li><hr>
                            <li>{{ trainer.bio }}</li>
                            <li>Тренерский опыт от {{ trainer.experience }} лет</li>
                        </ul>
                        <div>


                        </div>
                         {% include 'components/UI/BackButton.html' %}
                        <div class="my-5">
                            {% for image in trainer.images.all %}
                            <img src="{{ image.image.url }}" class="w-100">
                            {% endfor %}
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="container">
            <div class="be-comment-block bg-secondary bg-opacity-50">
                <h1 class="comments-title">Отзывы ({{ trainer.reviews.count|default:'0' }})</h1>
                {% for review in trainer.reviews.all %}



                <div class="be-comment">
                    <div class="be-img-comment">
                        <a href="blog-detail-2.html">
                            <img src="{% static 'assets/img/avatar.png' %}" alt="" class="be-ava-comment">
                            <a onclick="addReview('{{ review.name }}', '{{ review.id }}')" class="text-warning"
                                href="#formReview">Ответить</a>
                        </a>
                    </div>
                    <div class="be-comment-content">

                        <span class="be-comment-name">
                            <a href="">{{ review.parent }}</a>
                        </span>
                        <span class="be-comment-time">
                            <i class="fa fa-clock-o"></i>
                            {{ review.created_at }}
                        </span>

                        <p class="be-comment-text">
                            {{ review.text }}.
                        </p>

                    </div>
                </div>
                {% endfor %}

                <form class="form-block" method="post" action="{% url 'add_review' trainer.id %}" id="formReview">
                    {% csrf_token %}
                    <input type="hidden" name="parent" id="contactParent" value="">
                    <div class="row">
                        <div class="col-xs-12 col-sm-6">
                            <div class="form-group fl_icon">
                                <div class="icon"><i class="fa fa-user"></i></div>
                                <input name="name" class="form-input" type="text" placeholder="Ваше имя">
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 fl_icon">
                            <div class="form-group fl_icon">
                                <div class="icon"><i class="fa fa-envelope-o"></i></div>
                                <input name="email" class="form-input" type="text" placeholder="Ваша почта">
                            </div>
                        </div>
                        <div class="col-xs-12 mt-3">
                            <div class="form-group">
                                <textarea id="contactComment" name="text" class="form-input" required=""
                                    placeholder="Ваш отзыв"></textarea>
                            </div>
                        </div>
                        <div class="mt-3">
                            <button type="submit" class="btn btn-primary">Отправить</button>
                        </div>

                    </div>

                </form>
            </div>

        </div>

    </div>




    <script>
        const addReview = (name, id) => {

            document.getElementById('contactParent').value = id
            document.getElementById('contactComment').innerText = `${name}, `
        }

    </script>
    {% endblock body %}